:root{
  --green-dark :  #025928;
  --green-light: #758C1F;
  --yellow-dark:#F2DA5E;
  --yellow-light : #F2E085; 
  --brown:  #8C4F2B;
  --link-dark: #024059;
  --link-light: #84C1D9;
  --white: #FDFDE8;
  --black: #262626;
  --blueLight : #84C1D9 ;
  --blueDark : #024059;
}

.App {
  text-align: center;
}

.form-container{
  margin: left;
  margin: 20px 20px;
  padding: 50px;
  background-color: var(--white);
  text-align: left;
  width: fit-content;
}

.form-container .send-button{
  margin-right: 0;
  margin-left: auto;
  display: block;
}

.plant{
  width: 200px;
}

.porcentaje{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  background: var(--white);
}

.container{
  position: relative;
  width: 960px;
  display: flex;
  justify-content: space-around;
}

.container .card{
  
}